.menuHeader {
  width: 100%;
  background: #fff;
  height: 40px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px #333;
}

.menuHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuHeader > ul {
  display: flex;
  /* border: 2px solid blue; */
  position: relative;
  margin: 0 50px;
}

.menuHeader > ul > li > span {
  /* border: 2px solid blue; */
  display: block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
}

.menuHeader > ul > li > span:hover {
  color: #2874f0;
}

.menuHeader > ul > li > ul {
  background: white;
  position: absolute;
  border: 1px solid #cecece;
  left: 0;
  right: 0;
  display: none;
}
.menuHeader > ul > li:hover ul {
  display: block;
}

.menuHeader > ul > li > ul > li {
  margin: 0 20px;
  min-width: 150px;
}

.menuHeader > ul > li > ul > li {
  float: left;
}
.menuHeader > ul > li > ul > li > a {
  /* padding: 0 20px; */
  font-weight: bold;
  font-size: 12px;
  /* border: 2px solid white; */
}

.menuHeader > ul > li > ul > li a {
  font-size: 12px;
  display: block;
  padding: 3px 0;
  text-decoration: none;
  color: #707070;
}
